/* Start Variables */
:root {
    --mainColor: #10cab7;
    --secoundaryColor:#333 ;
}
/* End Variables */

/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
body {
    font-family: "Work Sans", sans-serif;
}
/* End Global Rules */

/* Start Media Query */
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px
    }
    .features div div {
        width: calc(100% / 2)!important
    }
    .features div div:last-child {
        margin: 0 auto;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px
    }
    .features div div {
        width: calc(100% / 3)!important
    }

}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
    .header-landing {
        height: calc(100vh - 56px)!important;
        background-position-y: -80px!important
    }
    .header-landing h4 {
        font-size: 64px!important
    }
    .header-landing p {
        width: 392px!important;
        font-size: 20px
    }
}
/* End Media Query */

/* Start Header */
header {
    height: 56px;
    padding: 10px
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center
    /* border: 5px solid red; */
}

header img {
    margin-left: 20px;
    width: 80px
}
header .links {
    position: relative
}
header .links .icons {
    display: flex;
    flex-direction: column;
    cursor: pointer
}
header .links .icons span {
    background: #333;
    width: 25px;
    height: 1.5px
    /* margin-bottom: 4px; */
}
header .links .icons span:not(:last-child) {
    margin-bottom: 4px
}
header .links .icons span:nth-child(2) {
    width: 50%;
    align-self: flex-end;
    transition: width .3s
}
header .links:hover span:nth-child(2){
    width: 100%
}
header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 150px;
    position: absolute;
    display: none;
    background: #eee;
    right: -10px;
    top: 30px;
    box-shadow: -1px 1px 7px 0px #d9d9f5,
                 3px 2px 6px -2px #d9d9f5
}
header ul::after {
    content: "";
    border: 15px solid;
    border-color: transparent transparent #eee transparent;
    position: absolute;
    top: -30px;
    right: 10px;
    cursor: pointer
}
header .links:hover ul {
    display: block
}

header ul li  {
    margin: 10px 0
}

header ul li:not(:last-child) {
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd
}

header ul li i {
    margin-left: 10px;
    color: #9e9e9e
}

header ul li a {
    color: #060b049e;
    margin-left: 5px;
    text-decoration: none;
    transition: padding .3s
}
header ul li a:hover {
    padding-left: 10px;
    color: #060b04b0
}
/* Start Landing Section */
.header-landing {
    height: calc(100vh - 136px);
    background: url(../images/landing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.header-landing div {
    height: 100%;
    padding: 0;
    justify-content: flex-start;
    flex-direction: column
}

.header-landing h4 {
    color: var(--mainColor);
    font-size: 48px;
    margin: 80px 0 10px
}
.header-landing p {
    color: var(--secoundaryColor);
    width: 314px;
    text-align: center
}
/* End Landing Sfection */
/* End Header */

/* Start Features Section */
.features {
    height: 500px;
    padding: 10px;
    display: flex;
    background-color: #eee;
    justify-content: center
}
.features > div {
    width: 100%;
    height: 100%;
    margin: 0;
    align-content: center;
    flex-wrap: wrap;

}
.features div div {
    width: 100%;
    margin-top: 10px;
    text-align: center
}
.features p {
    color: var(--secondaryColor);
    font-size: 12px;
    margin: 5px;
}
.features div i {
    color: var(--mainColor);

}




/* End Features Section */

