/* Start Variables */
:root {
    --primary-color: #10cab7;
    --secondary-color: #607d8b;
    --section-padding: 50px;
    --section-color: #f4f4f4;
    --tr-duration: .3s;
    --line-height: 1.6
}
/* End Variables */

/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    scroll-behavior: smooth
}

body {
    font-family: "Work Sans", sans-serif;
    overflow-x: hidden
}

::selection {
    background: #C6E7E6
}

.container {
    margin: 0 auto;
    padding: 0 40px
}

h1,
h3,
p {
    margin: 0;
}
p {
    color:var(--secondary-color)
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px
    }

}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px
    }

}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}
/* End Global Rules */

/* Start Header */
header {
    padding: 10px
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center
}
@media (min-width: 768px) {
    header .container {
        width: 70%
    }
}
header img {
    margin-left: 10px;
    width: 70px
}
header .links {
    position: relative
}
header .links .icons {
    display: flex;
    flex-direction: column;
    cursor: pointer
}
header .links .icons span {
    background: #333;
    width: 25px;
    height: 1.5px
}
header .links .icons span:not(:last-child) {
    margin-bottom: 4px
}
header .links .icons span:nth-child(2) {
    width: 60%;
    align-self: flex-end;
    transition: width var(--tr-duration)
}
header .links:hover span:nth-child(2){
    width: 100%
}
header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 150px;
    position: absolute;
    display: none;
    background: #eee;
    right: -10px;
    top: 30px;
    box-shadow: -1px 1px 7px 0px #d9d9f5,
                 3px 2px 6px -2px #d9d9f5
}
header ul::after {
    content: "";
    border: 15px solid;
    border-color: transparent transparent #eee transparent;
    position: absolute;
    top: -30px;
    right: 10px;
    cursor: pointer
}
header .links:hover ul {
    display: block
}

header ul li  {
    display: flex;
    margin: 10px 0
}

header ul li:not(:last-child) {
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd
}

header ul li i {
    margin-left: 10px;
    color: #9e9e9e;
    order: -1;
    transition: margin var(--tr-duration)
}

header ul li a {
    color: #060b049e;
    margin-left: 5px;
    text-decoration: none;
    transition: padding var(--tr-duration)
}
header ul li a:hover {
    padding-left: 10px;
    color: #5b7c4eb0
}

header ul li a:hover + i {
    margin-left: 9px;
    color: #8a8a8a
}
/* End Header */

/* Start Landing */
.landing {
    height: calc(100vh - 48px);
    display: flex;
    align-items: center;
    background-image: url(../images/landing.jpg);
    background-size: cover
}

.landing .container {
    max-width: 500px;
    margin-bottom: 100px;
    text-align: center
}

.landing h1 {
    color: var(--primary-color);
    font-weight: 800;
    font-size: 3em
}
.landing p {
    max-width: 317px;
    margin: 20px auto 0;
    color: var(--secondary-color);
    line-height: var(--line-height)
}
/* End Landing */

/* Start Features */
.features {
    background-color: var(--section-color);
    padding: var(--section-padding) 0
}

.features .container {
    width:100%;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(300px,1fr));
    justify-content: space-between;
    gap: 20px;
    text-align: center
}

.features i {
    color:var(--primary-color);
    margin-bottom: 30px
}
.features h3 {
    margin-bottom: 15px
}
.features p {
    line-height: var(--line-height)
}

@media (min-width:657px) and (max-width: 991px)  {
    .features .container div:last-child {
        grid-column: 1 / 3
    }
}
/* End Features */

/* Start Services Section */
.services {
    padding-bottom: var(--section-padding)
}

.services .text {
    width: max-content;
    margin: 0 auto;
    padding-bottom: var(--section-padding);
    position: relative
}

.services .text h1 {
    color: #9cabb23d;
    font-size:5em
}
.services .text p {
    position: absolute;
    transform: translate(10%,-35px)
}

@media (min-width: 768px) {
    .services .text h1 {
        color: #9cabb23d;
        font-size:7em
    }
    .services .text p {
        position: absolute;
        transform: translate(35%,-40px)
    }
}
.services .container {
    display: grid;
    gap: 10px;
    grid-template-columns:repeat(auto-fill, minmax(300px,1fr))
}

.services i {
    color:var(--primary-color)
}

.services h3 {
    display:inline-block;
    margin-left: 10px;
    margin-bottom: 10px
}
.services p {
    margin-left: 48px;
    line-height: var(--line-height)
}

.services img {
    width:200px
}
.services .srv-content {
    display: none;
    position: relative;
    grid-row: span 2
}
@media (min-width: 1200px) {
    .services .srv-content {
        display:block
    }
}

.services .srv-content::after {
    content: "";
    width: 60px;
    height: 110%;
    background-color: #2c4755;
    position: absolute;
    transform: translate(-50%,calc(-5% - 14.73px));
    z-index: -1
}
/* End Services Section */

/* Start portfolio Section */
.portfolio {
    background-color: var(--section-color);
    padding: var(--section-padding) 0
}

.portfolio .text {
    width: max-content;
    margin: 0 auto;
    padding-bottom: var(--section-padding);
    position: relative
}

.portfolio .text h1 {
    color: #9cabb23d;
    font-size:5em
}
.portfolio .text p {
    position: absolute;
    transform: translate(15%,-35px)
}

@media (min-width: 768px) {
    .portfolio .text h1 {
        color: #9cabb23d;
        font-size:7em
    }
    .portfolio .text p {
        position: absolute;
        transform: translate(35%,-40px)
    }
}
.portfolio .container {
    display: grid;
    gap: 30px;
    grid-template-columns:repeat(auto-fill, minmax(300px,1fr))
}

.portfolio .container div {
    background-color: #fff
}

.portfolio .container img {
    width: 100%
}

.portfolio .container div .content {
    padding: 10px
}

.portfolio h3 {
    display: inline-block;
    margin-bottom: 10px
}
.portfolio p {
    line-height: var(--line-height)
}
/* End Portfolio Section */

/* Start About Section */
.about {
    padding: var(--section-padding) 0
}

.about .text {
    width: max-content;
    margin: 0 auto;
    padding-bottom: var(--section-padding);
    position: relative
}

.about .text h1 {
    color: #9cabb23d;
    font-size:5em
}
.about .text p {
    position: absolute;
    transform: translate(40%,-35px)
}

@media (min-width: 768px) {
    .about .text h1 {
        color: #9cabb23d;
        font-size:7em
    }
    .about .text p {
        font-size:1.3em;
        position: absolute;
        transform: translate(50%,-40px)
    }
}

.about .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 20px
}

.about .container .content {
    display: none;
    width: 250px;
    height: 375px;
    padding-bottom: 10px;
    justify-self: center;
    position: relative;
}
@media (min-width: 992px) {
    .about .container .content {
        display: block;
    }
}
.about .container .content:before {
    background-color: #eee;
    width: 20%;
    height: 110%;
    position: absolute;
    transform: translate(-50%,-18.75px);
    z-index: -1;
}
.about .container .content:after {
    top: -18.75px;
    position: absolute;
    width: 80px;
    height: 260px;
    border-left: 80px solid var(--primary-color);
    border-bottom: 80px solid var(--primary-color);
    z-index: -1;
    right: -120px;
}
@media (min-width: 992px) {
    .about .container .content:before {
    content: "";
    }
    .about .container .content:after {
        content: "";
        }
}

.about .container .content img {
    max-width: 100%;
}

.about .container .txt {
    padding: 10px;
}

.about .txt h3 {
    color: #1f262ade;
    margin-bottom: 50px;
    position: relative;
}
.about .txt h3:after {
    content: "";
    background-color: var(--primary-color);
    width: 60%;
    height: 2px;
    position: absolute;
    bottom: -30px;
    left: 0

}

.about p,
.about h3 {
    line-height: var(--line-height)
}
/* End About Section */

/* Start Contact Section */
.contact {
    background-color: var(--section-color);
    padding: var(--section-padding) 0
}

.contact .text {
    width: max-content;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-bottom: var(--section-padding);
    position: relative
}

.contact .text h1 {
    color: #9cabb23d;
    font-size:4.5em;
    line-height: .5;
}
.contact .text p {
    position: absolute;
    transform: translate(33%, -7px);
    font-size: 1.075em;
}

@media (min-width: 768px) {
    .contact .text h1 {
        color: #9cabb23d;
        font-size:9em;
    }
    .contact .text p {
        font-size:1.6em;
        position: absolute;
        transform: translate(46%, -7px);
    }
}

.contact .container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.contact .container h4 {
    width: 100%;
    margin: 0;
    font-size: 1.3em;
    font-weight: 800;
}

.contact .container h4:first-child {
    margin-bottom: 20px;
    color: #394449;
}

.contact .container h4 + h4 {
    margin-bottom: 20px;
    color: var(--primary-color)
}

.contact .container .social {
    width: 100%;
}
/* .contact .container .social .p */
.contact .container p {
    margin-right: 20px;
    display: inline-block
}
.contact i {
    color: var(--secondary-color);
}
.contact i + i {
    margin-left: 5px;
}
/* End Contact Section */

/* Start Footer */
footer {
    background-color: #294754;
    padding: 30px;
}
footer p {
    color: white;
    font-weight: 800;
    text-align: center;
}
footer span {
    color: var(--primary-color)
}
/* End Footer */